#bookMarkList {
  padding-top: 50px;
  width: 640px;

  .page-title {font-size: 32px;}
  .bookMark-wrap {
    .bookmark_list_item {
      padding: 30px;
      border-bottom: 3px solid #000;
      &:last-child {
        border-bottom: none;
      }

      .delete_btn {
        >svg {
          width: 24px;
          // border-color: #e2e8f0;
        }
      }
    }
  }
}