#bookMarkList {
  padding-top: 50px;
  width: 640px;

  .page-title {font-size: 32px;}

  
  .bookMark-wrap {
    margin-top: 40px;

    .all-clear-btn {
      right: 0; top: 50px;
      padding: 8px 20px;
      &:hover {
        background-color: #e2e8f0;
      }
      svg {width: 24px; color: #e53e3e; }
    }
    
    .bookmark_list_item {
      padding: 30px;
      border-bottom: 3px solid #000;
      &:last-child {
        border-bottom: none;
      }

      .delete_btn {
        width: 40px; height: 40px;
        &:hover {background-color: #feb2b2;}
        >svg {
          width: 24px;
        }
      }
    }
  }

  .empty-bookmark {
    margin: 100px 0;
    color: #4a5568;
    font-size: 20px;
    > svg {
      width: 68px;
      margin-bottom: 30px;
    }
  }
}