.ml-10 {margin-left: 10px;}
.mb-0 {  margin-bottom: 0;}
.m-auto {margin: 0 auto;}

.box-shadow {box-shadow: 0px 10px 15px -3px #00000010, 0px 4px 6px -2px #00000010;}
.bxsh-gray {box-shadow: 1px 1px 3px 0px #00000010;}

.box {
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 8px;
}
.box-bg {
  background-color: #fff;
  border: 3px solid #222;
  border-radius: 8px;
}

.bdrs-8 {border-radius: 8px;}
.bdrs-50 {border-radius: 50%;}

.gray {color: #718096;}

.flex {display: flex;}
.aic {align-items: center;}
.jcsb {justify-content: space-between;}

.posr {position: relative;}
.posa {position: absolute;}

.posa-center {
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.fwb {font-weight: bold;}

.tac {text-align: center;}

.ttc {text-transform: capitalize;}
.ttn {text-transform: none;}
.ttl {text-transform: lowercase;}



.text-center {
	height: 100px;
	line-height: 100px;
	text-align: center;
}