.ml-10 {margin-left: 10px;}
.mb-0 {  margin-bottom: 0;}
.m-auto {margin: 0 auto;}

.box-shadow {box-shadow: 0px 5px 10px #ddd;}
.bxsh-gray {box-shadow: 1px 1px 3px 0px #dfdfdf;}

.box {
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 8px;
}
.box-bg {
  background-color: #fff;
  border: 3px solid #222;
  border-radius: 8px;
}

.bdrs-8 {border-radius: 8px;}
.bdrs-50 {border-radius: 50%;}

.gray {color: #718096;}


.testBox {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 100px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  border-width: 2px;
  transform: translateX(-50%);
}

.flex {display: flex;}
.aic {align-items: center;}
.jcsb {justify-content: space-between;}

.posr {position: relative;}
.posa {position: absolute;}

.posa-center {
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.fwb {font-weight: bold;}

.ttc {text-transform: capitalize;}
.ttn {text-transform: none;}
.ttl {text-transform: lowercase;}
