@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
body {
  color: #222;
	// font-size: 13px;
  font-family: 'Outfit','Pretendard-Regular';
	line-height: 1.4;
  overflow-y: scroll;
  background-color: #edf2f6;
  text-transform: capitalize;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #222;
	text-decoration: none;
}
ol, ul, li {
  list-style: none;
}
em,
i,
address {
	font-style: normal;
}
hr,
caption,
legend {
	display: none;
}
fieldset, img {
	border: none;
}

textarea {
	resize:none;
}