.itemBox {
  position: relative;
  margin-right: 10px; margin-bottom: 10px;
  width: 320px;
  height: 410px;
  overflow: hidden;
  transition: .2s;

  &:hover {
    transform: translateY(-3px);
  }

  .hover_icon {
    top: 0; left: 0;
    width: 100%;
    padding: 10px;

    &.fade-enter-active, &.fade-leave-active {
      transition: opacity .2s;
    }
    &.fade-enter, &.fade-leave-to {
      opacity: 0;
    }

    .bookmark {
      padding: 6px 8px;
      border-width: 2px;
      font-size: 14px;
      border-radius: 5px;

      svg {margin-right: 3px;}
    }
    .toLink {
      width: 30px; height: 30px;
      background-color: #4a5568;
      border-radius: 5px;
      .material-symbols-outlined {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
      }
    }
  }

  .img {
    width: 100%; height: 192px;
    background-color: #cfdce6;
    >img {width: 100%; height: 100%;}
  }

  .shopicon {
    top: 162px; left: 16px;
    width: 60px; height: 60px;
    background-color: #fff;
    border: 2px solid #a4adb9;    
    overflow: hidden;
    > img {
      width: 100%; height: 100%;
    }
  }

  .textBox {
    padding: 16px;
    height: 218px;

    .title {
      margin: 32px 0 16px 0;
      font-size: 20px;
    }
    .subTitle {
      height: 70px;
    }

    .bottomBox {
      bottom: 0px;
      font-size: 12px;
      letter-spacing: -0.2px;

      .tag {
        padding: 8px 10px;
        border: 2px solid #000;
        &::before {
          content: '#'
        }
      }

      .byName {
        &::before {
          content: 'By '
        }
      }
    }
  }
}


.navWrap {
  padding: 0 20px;
  width: 20%; height: 100vh;
  
  .itemLi {
    width: 100%; height: 40px;
    border-bottom: 1px solid #ddd;
    
    &:hover {
      .navItem {
        transform: translateX(10px);
      }
    }

    .navItem {
      margin-top: 3px;
      padding: 8px;
      transition: .3s;
  
      &.active {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 3px 0px #dfdfdf;
      }
      
      .icon {
        margin-right: 15px;
        width: 20px; height: 20px;
        background-color: #ddd;
      }
    }

    .router-link-exact-active {
      .navItem {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 3px 0px #dfdfdf;
      }
    }
  }
}

.test-snackbar_wrap {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  .snackbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 20px;
    width: 270px; height: 40px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    border-radius: 3px;

    &.added {
      background-color: #353535;
    }
    &.remove {
      background-color: #f44236;
      > span {display: none;}
    }
    > .toBookmark {      
      color: #a9bddf;
      font-weight: 600;
    }
  }
  
}
