.main-bg {
  margin-bottom: 50px;
  height: 300px;
  background-image: url(https://images.unsplash.com/photo-1692691129332-f3bfe06b9d0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2379&q=80);
  background-size: cover;
  background-position: center;
}

.col-md-4 {
  
}