@import './../../styles/variables.scss';

.mainBlock {
  background-color: $bgColor;
  
  .container {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;

    .toolNav {
      width: 20%;
      margin-right: 20px;
      ul {
        li.navItem {
          margin-bottom: 3px;
          padding: 5px 0;
          text-transform: capitalize;
          border-bottom: 1px solid #e2e8f0;
          
          .item {
            transition: all .5s;
            .icon {
              margin: 0 5px;
              > svg {
                position: relative;
                top: -2px;
                width: 20px; height: 20px;
              }
            }
          }
          
          &:hover {
            .item {
              transform: translateX(8px);
            }
          }

          &.dontmove {
            &:hover {
              .item {
                transform: translateX(0px);
              }
            }
  
          }
        }
      }
    }

    .toolItem {
      display: flex;
      flex-wrap: wrap;
      width: 80%; height: 100%;
    }
  }
}

.temItem {
  position: relative;
  margin-right: 10px; margin-bottom: 10px;
  width: 320px; height: 410px;

  text-transform: capitalize;

  overflow: hidden;
  transition: .2s;

  background-color: #fff;
  border: 3px solid #000;
  border-radius: 7px;
  box-shadow: 4px 4px 10px 0px #0000002a;

  &:hover {
    transform: translateY(-3px);
  }

  .hoverIcon {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    font-size: 13px;

    .bookmark {
      span { margin-right: 5px; }
      padding: 5px 7px;
      background-color: #fff;
      border: 2px solid #4a5568;
      border-radius: 5px;
      box-shadow: 2px 2px 7px 1px #0000002a;
    }
    .link {
      position: relative;      
      width: 30px; height: 30px;
      background-color: #4a5568;
      border-radius: 5px;
      box-shadow: 2px 2px 7px 1px #0000002a;
      > svg {
        position: absolute;
        top: 50%; left: 50%;
        width: 15px; height: 15px;
        transform: translate(-50%, -50%);
        stroke: #fff;
      }
    }
  }

  .imgBox {
    width: 100%; height: 192px;
    background-color: #cfdce6;
    > img {
      width: 100%; height: 100%;
    }
  }

  .shopIcon {
    position: absolute;
    top: 162px; left: 16px;
    width: 60px; height: 60px;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid #a4adb9;
    border-radius: 50%;
    box-shadow: 2px 2px 7px 1px #0000002a;
    > img {
      width: 100%; height: 100%;
    }
  }

  .textBox {
    position: relative;
    padding: 16px;
    height: 218px;

    .title {
      margin: 32px 0 16px 0;
      font-size: 20px;
    }
    .subTitle {
      height: 70px;
    }

    .bottomBox {
      position: absolute;
      left: 0; bottom: 5px;
      display: flex;
      justify-content: space-between;
      padding: 16px;
      width: 100%;
      font-size: 12px;
      .tag {
        padding: 2px 7px;
        border-radius: 5px;
        border: 2px solid #4a5568;
        
        &::before {
          content: '#'
        }
      }
      .byName {
        color: $gray;
      }
    }
  }
}