@import './../../styles/variables.scss';

.mainBlock {
  background-color: $bgColor;
  
  .container {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;

    .toolNav {
      border: 1px solid #f00;
      ul {
        li.navItem {
          margin-bottom: 3px;
          padding: 5px 0;
          text-transform: capitalize;
          border-bottom: 1px solid #f00;
          
          .item {
            .icon {
              margin-right: 10px;
            }
          }
          
          &:hover {
            .item {
              transition: all .5s;
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
}
