.wrap {
  text-align: center;
}

.addTodoList {
  input {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
  }
  button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
  }
}

.todolistWrap {
  margin-top: 20px;

  .todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 20px;

    width: 500px; height: 50px;

    border: 1px solid #eee;
    box-sizing: border-box;

    &:hover {
      background-color: #fff;
      // background-color: #ffe2e2;
    }

    .checkbox {
      display: flex;
      align-items: center;
      
      .checkIcon {
        margin-right: 10px;
        width: 20px; height: 20px;
        border: 1px solid #000;
        &.active {
          border: 1px solid #f00;
        }
      }

      &.active {
        text-decoration: line-through;
        color: #888;
      }
    }
    
    .delBtn {
      display: inline-block;
      margin-left: 10px;
    }
  }
}